<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <script src="/client.js"></script>
</head>
<body ng-controller="MyCtrl as myCtrl">
    <div class="container">
        <div class="col-md-12">
        <!--<h1>{{myCtrl.name}}</h1>-->
        <h1>Feedback form</h1>
        <div class="row">
            <!--{{myCtrl.error}}-->
            </div>
    <form name = "MyForm" novalidate ng-submit="myCtrl.processForm()">
       <div class="form-group" ng-class="{'has-error':MyForm.name.$invalid && MyForm.name.$dirty,
                                                      'has-success':!MyForm.name.$invalid}">
        <label>Name:</label>
        <input class="form-control" type="text" name="name" ng-model="myCtrl.name" required>
        <span id="helpBlock" ng-if="MyForm.name.$invalid && MyForm.name.$dirty" class="help-block">
           invalid username</span>
       </div>
       <div class="form-group" ng-class="{'has-error':myCtrl.isValid(MyForm,'email')}">
        <label>Email:</label>
        <input class="form-control" type="email" name="email" ng-model="myCtrl.email">
          <span id="helpBlock" ng-if="myCtrl.isValid(MyForm,'email')" class="help-block">
           invalid email</span>

       </div>
       <div class="form-group">
       <label>Phone:</label>
       <input class="form-control" type="tel" name="phone" ng-model="myCtrl.phone" required>
          <span id="helpBlock" ng-show="MyForm.phone.$invalid && MyForm.phone.$dirty" class="help-block">
           invalid phone</span>
       </div>
       <div class="form-group">
        <label>Comment</label> 
       <textarea class="form-control" name="comment" id="" cols="30" rows="10" ng-model="myCtrl.comment"></textarea>
          <span id="helpBlock" ng-show="MyForm.comment.$invalid && MyForm.comment.$dirty" class="help-block">
           invalid comment</span>
       </div>
       <div class="form-group">
       <label for="name">Experience:</label>
           <label class="radio-inline">
               <input type="radio" name="experience" id="exp" value="Good" ng-model="myCtrl.exp">Good
           </label>
           <label class="radio-inline">
               <input type="radio" name="experience" id="exp" value="Neutral" ng-model="myCtrl.exp">Neutral
           </label>
           <label class="radio-inline">
               <input type="radio" name="experience" id="exp" value="Bad" ng-model="myCtrl.exp">Bad
           </label>

          <span id="helpBlock" ng-show="MyForm.experience.$invalid && MyForm.experience.$dirty" class="help-block">
           invalid experience</span>

       <!--<label>Experience</label>
           <input type="radio" name="experience" value="Good" ng-model="myCtrl.exp" checked> Good
           <input type="radio" name="experience" value="Neutral" ng-model="myCtrl.exp">Neutral
           <input type="radio" name="experience" value="Bad" ng-model="myCtrl.exp"> Bad
       <input type="text" ng-model="myCtrl.name">-->
       </div>
       <div class="btn-group btn-group-justified">
           <div class="btn-group">
               <button class="btn btn-info" ng-click="myCtrl.resetForm()">Reset</button>
           </div>
           <div class="btn-group">
               <button class="btn btn-success" ng-disabled="MyForm.$invalid" type="submit">Submit</button>
           </div>
       </div>
       <!--<button type="submit" class="btn btn-success" ng-disabled="MyForm.$invalid" >Submit</button>-->
       <!--<button type="button" class="btn btn-primary"ng-click="myCtrl.resetForm()">Reset</button>-->
    </form> 

    </div>
    <br>
    <br>
    <br>

    {{myCtrl}}
    </div>
</body>
</html>